[config]

mode = finetune
exp_name = finetune
pretrained_model = lecslab/byt5-translation-all

# Dataset
use_translation = true
use_unimorph = false

# Training
max_epochs = 100
learning_rate = 5e-5
batch_size = 2

# Files
output_model_path = /projects/migi8081/glosslm/models/finetuned/
