[config]

mode = pretrain
exp_name = pretrain_exclude_st_seg
pretrained_model = google/byt5-base

# Dataset
exclude_st_seg = true
use_translation = true
use_unimorph = false

# Training
max_epochs = 13
early_stopping_patience = 3
learning_rate = 5e-5
batch_size = 2

# Files
output_model_path = /projects/migi8081/glosslm/models/glosslm-pretrained-exclude-st-seg
